@font-face {
    font-family: Merri;
    src: url(fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf);
}

h1{
    font-family: verdana, arial;
    border: 3px solid rgb(209, 98, 155);
    border-radius: 20px;
}
#p1{
    font-family: "lucida console", 'Courier New';
    font-size: 1em;
    font-weight: bold;
    font-style: oblique;
    border-bottom: 3px solid red;
    border-top:3px solid yellow;
    border-left: 2px dotted darkcyan;

    border-radius: 10px;
}

#p2{
    font-family: 'Big Shoulders Stencil' ;

}

#p3{
    font-family: 'Roboto Mono';
}

#p4{
    font-family: Merri;
}